<div class="mui-panel">
  <form method="POST">
    <div class="mui-form-group">
      <input type="text" name="username" class="mui-form-control" placeholder="Username">
    </div>
    <div class="mui-form-group">
      <input type="password" name="password" class="mui-form-control" placeholder="Password">
    </div>
    <button type="submit" class="mui-btn mui-btn-default mui-btn-raised">Login</button>
  </form>
</div>