
  {{#if user}}
  {{#if user.connected}}
  <div class="mui-panel">
  <form method="POST" action="/contact/new">
    <legend>Add a contact</legend>
    <div class="mui-form-group">
      <input type="text" name="firstname" class="mui-form-control" placeholder="First Name">
    </div>  
    <div class="mui-form-group">
      <input type="text" name="lastname" class="mui-form-control" placeholder="Last Name">
    </div>
    <div class="mui-form-group">
      <input type="email" name="email" class="mui-form-control" placeholder="email">
    </div>
    <div class="mui-form-group">
      <input type="text" name="saleslead" class="mui-form-control" placeholder="saleslead">
    </div>
    <button type="submit" class="mui-btn mui-btn-default mui-btn-raised">Create Contact</button>
  </form>
  {{else}}
    <h1>Hoist Sample Application</h1>
  {{/if}}
  </div>
  {{else}}
  <a class="mui-btn mui-btn-primary" href="/session/create">Login</a>
  {{/if}}
